<!DOCTYPE html>
<html>
<head>
  <title>ДЗ Старков Д. А.</title>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <style>
    #app {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Arial, sans-serif;
    }
    h1 {
      margin-top: 0;
    }
    input[type="text"] {
      width: 200px;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid #ccc;
    }
    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin: 5px;
    }
    button:hover {
      cursor: pointer;
      background-color: #3e8e41;
    }
    button:focus {
      outline: none;
    }
  </style>
</head>
<body>  
    <div id="app">
      <h1>Калькулятор</h1>
      <div>
        <input type="text" v-model="num1" />
      </div>
      <div>
        <input type="text" v-model="num2" />
      </div>
      <div>
        <button @click="add">+</button>
        <button @click="subtract">-</button>
        <button @click="multiply">*</button>
        <button @click="divide">/</button>
      </div>
      <div>
        <p>Результат: {{ result }}</p>
      </div>
    </div>  
    <script>
      const app = new Vue({
        el: '#app',
        data: {         
          num1: 0,
          num2: 0,
          result: 0
        },
        methods: {
      add() {
        const sum = parseFloat(this.num1) + parseFloat(this.num2);
        this.result = sum;
      },
      subtract() {
        const difference = parseFloat(this.num1) - parseFloat(this.num2);
        this.result = difference;
      },
      multiply() {
        const product = parseFloat(this.num1) * parseFloat(this.num2);
        this.result = product;
      },
      divide() {
        const quotient = parseFloat(this.num1) / parseFloat(this.num2);
        this.result = quotient;
      }
    }
      })
    </script>
</body>
</html>