/*Стили базы*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

body {
    flex-direction: column;
}

a {
    cursor: pointer;
    font-size: 14px;
}
div,
header,
main,
footer,
body {
    display: flex;
}

main {
    flex: 1 ;
    height: auto;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

header {
    width: 100%;
    background: white;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
}

h1{
    font-size: 72px;
    font-weight: 300;
}
p{
    align-self: center;
    font-size: 32px;
    font-weight: 300;
}

footer {
    width: 100%;
    height: 350px;
    background: white;

}

h2{
    font-size: 32px;
    font-weight: 300;
}

h3{
    font-size: 24px;
    font-weight: 100;
}

/*Стили классов*/
.main__header{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
}
.header__container {
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    
}
.header__container h2{
    margin-left: 10px;
}
.side__header__container{
	display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 7px;
}
.side__header__container h2{
    font-size: 28px;
}
.side__header__container a{
	color: #2D56E7;
}
.side__menu{
    display: flex;
    background-color: white;
    flex: 0;
    flex-direction: column;
    width: 100%;
    min-width: 355px;
    margin: 10px 5% 10px 10px;
    padding: 10px;
    border-radius: 10px;
}
.side__menu a{
    margin-right: 10px;
}
.icon{
    width:  16px;
}
/* Стиль поиска */
.search__container {
    display: flex; 
    align-items: center;
    background-color: #f1f1f1;
    margin: 0 7px;
    padding: 5px;
    border-radius: 5px;
    
}
.search__container input[type="text"] {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    
    outline: none;
}
.search__container button[type="submit"] {
    background-color:transparent;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.search__container button[type="submit"]:hover {
    background-color: #dddddd;
}
.i__search {
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

/*Стили сортировки */
#sort__button {
    background-color: transparent;
    color: black;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;

}
#sort_img {
    width: 8px;
    height: 8px;
    
}
.sorting__container{
    display: inline;
    align-items: center;
    width: auto;
    height: auto;
}
/*Стили записей*/
.record {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 10px;
}
.date {
    font-size: 14px;
    color: #999;
}
.line {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title {
    font-size: 18px;
    margin-top: 10px;
}
/*Главный блок стили*/  
/*Форма стили*/ 
.main__block{
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: column;
    margin: 10px 10px 10px 5%;
    padding: 10px;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;    
    padding: 10px 15px;
}
form input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
form input[type="text"], textarea:focus {
    outline: none;
}
.line__m{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add__file__container {
    display: flex;
    margin: 0 0 0 auto;
    text-align: right;
}
.file__label {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    padding: 8px 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
    
} 
.file__icon {
    width: 24px; 
    height: 24px;
    margin-right: 8px;
}
.file__input {
    display: none;
} 
.file__label:hover {
    background-color: #ccc;
}

.main__block button {
    background-color: #2D56E7;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.main__block footer{
    justify-content: right;
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px 15px 15px 0;
}
.main__block footer p{
    margin-right: 10px;
    color: gray;
}

/*Получатели стили*/ 
.recipient__selection {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.search__field{
    width: 100%;
    height: 24px;
    font-size: 14px;
    border: none;
    background-color: #f1f1f1;
}
.search__field:focus{
    outline: none;
}

.search__line{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 10px;
}
.search__img{
    width: 14px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}
.recipient__selection h2 {
    font-size: 18px;
}
.recipient__selection h3 {
    margin-top: 25px;
    font-size: 16px;
}
.checkbox__row {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}
  
.recipient__selection input[type="checkbox"] {
    display: flex;
    
    margin-right: 10px;
}
.checkbox_row_info{
    display: block;
}
.checkbox_row_info p{
    color: #949494;
}
.checkbox__row input[type=checkbox]{
    margin-top: revert;
}
.recipient__selection label, p {
    text-align: left;   
    margin: 0;
    font-size: 14px;
}

  

@media (max-width:1440px) {
    .header__container {
        padding: 0 16px;
    }

    .footer__container {
        padding: 0 16px;
    }

    .main__container {
        padding: 0 16px;
    }
}